body { background-color: #2489d7;}


body, html {
    height: 100%;
    margin: 0;
  }

#backgroundMain {
  width: 100%; height: 100%;
  z-index: -1;
  opacity: 100%;
  padding: 0;
}

#imgMain {
    display:block; width: 80%; height: 80%; margin-left: auto; margin-right: auto; padding-bottom: 35px;
}

.rcontainer {display:flex; padding: 36px; gap:36px; flex-direction: row; max-width: 1920px; max-height: 1080px; margin-bottom: 0px; flex-shrink: 1;}
.lcontainer {display:flex; padding: 36px; gap:36px; flex-direction: row-reverse; max-width: 1920px; max-height: 1080px; margin-bottom: 0; min-height: 200px;}
.ccontainer {display:flex; padding: 36px; gap:36px; flex-direction: row; max-width: 1920px; max-height: 1080px; margin-bottom: 40px; align-items: center; justify-content: center;}
.textright-pong {
  background-image: url("./images/pong2.gif"); 
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

  .textright-DK {
    background-image: url("./images/dkbg2.jpg"); 
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

  .textright-sonic {
    background-image: url("./images/sonicbg.jpg"); 
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
  
.imgcontainer {display:flex; align-items: center; justify-content: center; max-width: 1080px; max-height: 720px;}
.gallery { display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 15px; text-align: center; align-items: center;}

.galleryimg > img {
  width: 380px; height: 380px; border-radius: 12px; padding-bottom: 12px;
}

.imgright {
  flex-shrink: 0.2;
  padding: 20px; 
  max-width: 540px;
  max-height: 720px;
}

.imgrightab {
  flex-shrink: 0.2;
  padding: 20px; 
  max-width: 600px;
  max-height: 108px;
}

.imgright a {
    display: block;
    max-width: 540px;
    max-height: 720px;
    z-index: 2;
}

.imgright img {
  width: 100%;
  border-radius: 10%;
  z-index: 1;
  pointer-events: none;
}

.imgrightab > img {
    width: 100%;
    border-radius: 10%;
    z-index: 1;
    pointer-events: none;
}

.imgrightab > img {
  height: 400%;
  width: 100%;
}

.textright{
    max-width: 100%; 
}

.headerright{
    text-align: center;
    font-size: 3vw;
}

.pright{
    font-size: 2vw; 
}

.header {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    justify-content:space-around;
    background-color: #1F3438;
    padding-top: 8px; padding-bottom: 8px;
    z-index: 3;
  }

a:link,a:visited,a:hover,a:active { text-decoration: none; color: white;} a:hover {color: black;}

.textMain {
  padding: 20px; font-size: 2vw; padding-left: 2vw; padding-right: 2vw;
}

.subTitle {
  text-align: center;
  font-size: 2.5vw;
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: black;
    transition: 0.5s ease-out;
  }
  
  .transition-2.is-active {
    left: 0px;
  }
  
  .transition-3 {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: black;
    transition: 0.5s ease-out;
  }
  
  .transition-3.is-active {
    top: 0;
  }

  /* Quiz */
  .app {
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
  }

  .app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
  }
  .quiz{
    padding: 20px 0;
  }

  .quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
  }  

  .appbtn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .appbtn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
  }

  .appbtn:disabled{cursor: no-drop;}

  #next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }

  .correct {
    background: #9aeabc;
  }
  .incorrect {
    background: #ff9393;
  }
  
  .custom-shape-divider-bottom-1713284723 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713284723 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 201px;
}

.custom-shape-divider-bottom-1713284723 .shape-fill {
    fill: #fdff03;
}
.custom-shape-divider-top-1713286209 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713286209 svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 201px;
}

.custom-shape-divider-top-1713286209 .shape-fill {
  fill: #FFFFFF;
}