body { background-color: #474A51; }


body, html {
    height: 100%;
    margin: 0;
  }

#backgroundMain {
  width: 100%; height: 100%;
  z-index: -1;
  opacity: 75%;
}

.rcontainer {display:flex; padding: 36px; gap:36px; flex-direction: row; max-width: 1920px; max-height: 1080px; margin-bottom: 240px;}
.lcontainer {display:flex; padding: 36px; gap:36px; flex-direction: row-reverse; max-width: 1920px; max-height: 1080px; margin-bottom: 240px;}
.ccontainer {display:flex; padding: 36px; gap:36px; flex-direction: row; max-width: 1920px; max-height: 1080px; margin-bottom: 240px;}

.ccontainer {opacity: 0%;}

.imgright {
  flex-shrink: 0.2;
  padding: 20px; 
  width: 540px;
  height: 720px;
}

.imgright a {
    display: block;
    max-width: 540px;
    max-height: 720px;
    z-index: 2;
}

.imgright img {
    width: 100%;
    border-radius: 10%;
    z-index: 1;
    pointer-events: none;
}

.textright{
    max-width: 100%;
}

.headerright{
    text-align: center;
    font-size: 3vw;
}

.pright{
    font-size: 2vw;
}

.bg {
    background: url(../images/DonnerModel30.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.header {
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    justify-content: center;
    background-color: #1F3438;
    padding-top: 8px; padding-bottom: 8px;
    z-index: 3;
  }

a:link,a:visited,a:hover,a:active { text-decoration: none; color: white;} a:hover {color: black;}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: black;
    transition: 0.5s ease-out;
  }
  
  .transition-2.is-active {
    left: 0px;
  }
  
  .transition-3 {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: black;
    transition: 0.5s ease-out;
  }
  
  .transition-3.is-active {
    top: 0;
  }